
{% extends "base.html" %}


{% block content %}

  <div class="row">
	<div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
<h2>快照详情及操作</h2>
	</div>
</div>
  <div class="row">

				<div class="col-md-8 col-md-push-1 col-sm-12 col-sm-push-0 col-xs-12 col-xs-push-0">
					<div class="row">


	<div class="containerw3layouts-agileits">
		<div class="w3layoutscontactagileits">
		<form action="{{ url_for("vm_snapshoot",  VM_Names=VM_Names,user_id=current_user.id) }}" class="fh5co-form" method="POST" name="create">



<!--
					<div class="w3lsjourneyaits agileinfow3ls">
						<div class="w3lsjourneyaits-lable wthreelable">
							<span class="aitsjourney-lable">
								<label>VM name</label>
							</span>
							<span class="colon">:</span>
						</div>
						<div class="w3lsjourneyaits-input wthreeinput">
							<select class="form-control" name="VMname">
								<option value="wr">wr</option>
								<option value="rhel7.0">rhel7.0</option>
							</select>
						</div>
						<div class="clear"></div>
					</div>

-->


					<div class="w3lsjourneyaits agileinfow3ls">
						<div class="w3lsjourneyaits-lable wthreelable">
							<span class="aitsjourney-lable">
								<label>***VM name***</label>
							</span>
							<span class="colon">:</span>
						</div>

						<div class="w3lsjourneyaits-input wthreeinput">
							<select class="form-control" name="VMname">
								{% for VM_Name in VM_Names %}
									<option value="{{VM_Name}}"> {{VM_Name}}</option>
								{% endfor %}
							</select>
						</div>
						<div class="clear"></div>
					</div>





					<div class="aitssubmitw3ls">
						<input class="btn btn-primary" type="submit" name="submit" value="inquire">
					</div>
            </form>
        </div>

    </div>



    <center>
    <table class="table">
	<thead>

        <tr>
            <th>序号</th>
            <th> 主机名称 </th>
            <th> 快照名称 </th>
            <th> 快照描述 </th>

        </tr>
	</thead>
        <tr>

            {% for cur in machines %}
            <td>{{ cur['ID'] }} </td>
            <td>{{ cur['hostname'] }} </td>
            <td>{{ cur['snapshoot name'] }} </td>
            <td>{{ cur['snapshoot describe'] }} </td>



        </tr>
        {% endfor %}


        <td>
                <form action="{{ url_for("add_snapshoot", action="add_snapshoot", user_id=user_id) }}" method ="POST">
                    <input type="submit" name='add_snapshoot' value='拍摄快照'>

                </form>
        </td>
        <td>
                <form action="{{ url_for("recover_snapshoot", action="recover_snapshoot", user_id=user_id) }}" method ="POST">
                    <input type="submit" name='recover_snapshoot' value='恢复快照'>

                </form>
        </td>
        <td>
                <form action="{{ url_for("delete_snapshoot", action="delete_snapshoot", user_id=user_id) }}" method ="POST">
                    <input type="submit" name='delete_snapshoot' value='删除快照'>

                </form>
        </td>

        </table>

    </center>







		<!-- Necessary-JavaScript-Files-&-Links -->

        <!-- Default-JavaScript --> <script type="text/javascript" src="{{ url_for('static',filename='js/jquery-2.1.4.min.js') }}"></script>

			<!-- Date-Picker-JavaScript -->
                <script src="{{ url_for('static',filename='js/jquery-ui.js') }} "></script>
				<script>
					$(function() {
						$( "#datepicker1,#datepicker2" ).datepicker();
					});
				</script>


					</div>
				</div>
			</div>
{% endblock %}
